* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

nav {
  background-color: white;
  height: 60px;
}

nav a:hover {
  font-weight: bold;
  font-size: 21px !important;
} 

.nav-item .nav-link {
  height: 25px;
  text-decoration: none;
  color: #0eb5d6 !important;
  transition: 0.2s ease;
  font-family: 'Anek Kannada', sans-serif;
  padding: 0 2rem !important;
}