nav {
  background-color: #0dcaf0;
  height: 3.5rem;
  text-align: center;
}
nav ul li {
  padding: 0.8rem 1.5rem;
  list-style-type: none;
  display: inline-block;
}
nav a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  transition: 0.2s ease;
}
nav a:hover {
  border-bottom: 1px solid #292929;
  font-weight: bold;
  font-size: 21px;
}