main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.descripcion-general h1 {
  font-size: 50px;
  color:rgb(8, 126, 164);
  margin: 0;
  height: 50px;
}

.section-info {
  display: flex;
  justify-content: center;
  background-color: #e9edf7;
  padding: 250px 0px;
}

.img-perfil img {
  width: 300px;
}

.descripcion-general {
  display: flex;
  width: 40%;
  margin-left: 5rem;
  flex-direction: column;
  justify-content: center;
  text-align: start;
}
.subtitulo {
  width: 50%;
  height: 55px;
  margin-top: .7rem;
  font-size: 36px;
  background-color: black;
  border-radius: 5px;
  color: white;
}

.descripcion-general p {
  margin-top: 2rem;
  color: rgb(73, 83, 83);
  font-size: 15px;
  font-family: 'Verdana', sans-serif;
}

.img-globito {
  margin-top: -7.5rem;
  margin-left: -3.1rem;
}

.section-skills {
  background-color: rgb(229, 245, 245);
  display: flex;
  justify-content: center;
  width: 100%;
  height: 300px;
}

.section-projects {
  height: 700px;
}