main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.descripcion-general h1 {
  font-size: 50px;
  color: rgb(8, 126, 164);
  margin: 0;
  height: 50px;
}

.section-info {
  display: flex;
  justify-content: center;
  background: rgb(233, 237, 247);
  background: linear-gradient(0deg, rgba(233, 237, 247, 1) 50%, rgba(255, 255, 255, 1) 100%);
  padding: 250px 0px;
}

.img-perfil img {
  width: 300px;
}

.descripcion-general {
  display: flex;
  width: 40%;
  margin-left: 5rem;
  flex-direction: column;
  justify-content: center;
  text-align: start;
}

.subtitulo {
  width: 50%;
  height: 55px;
  margin-top: .7rem;
  font-size: 36px;
  background-color: black;
  border-radius: 5px;
  color: white;
}

.descripcion-general p {
  margin-top: 2rem;
  color: rgb(73, 83, 83);
  font-size: 15px;
  font-family: 'Verdana', sans-serif;
}

.img-globito {
  margin-top: -7.5rem;
  margin-left: -3.1rem;
}

article {
  width: 100%;
  background: rgb(8, 126, 164);
  background: linear-gradient(0deg, rgba(8, 126, 164, 1) 0%, rgba(111, 220, 246, 1) 33%, rgba(158, 255, 255, 1) 47%, rgba(158, 255, 255, 1) 60%, rgba(194, 246, 251, 1) 74%, rgba(233, 237, 247, 1) 100%);
}

.section-skills {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  height: 600px;
}

.carousel {
  background-color: aliceblue;
  border-radius: 20px;
  padding: 5rem 0;
  margin: 0 2rem;
}

.fa-arrow-down {
  color: rgb(8, 126, 164);
  margin: 0 50%;
  position: relative;
  animation: flecha 1.5s infinite;
}

@keyframes flecha {
  0% {
    top: 5px;
  }

  25% {
    top: 15px;
  }

  75% {
    top: 5px
  }

  100% {
    top: 5px;
  }
}

.flecha {
  padding: 0 0 3rem;
}

.flecha h4 {
  font-size: 35px;
  font-weight: bold;
  font-family: 'Anek Kannada', sans-serif;
  margin-top: 5rem;
  text-align: center;
  color: rgb(8, 126, 164);
}

.section-projects {
  width: 100%;
  height: 1200px;
  padding: 2rem 0;
}

.section-projects h4 {
  font-size: 35px;
  font-weight: bold;
  font-family: 'Anek Kannada', sans-serif;
  margin-top: 5rem;
  text-align: center;
  color: rgb(8, 126, 164);
  margin-bottom: 10rem;
}

.card {
  background-color: rgb(0, 0, 0) !important;
  border: none !important;
  transition: 0.3s ease;
}

.card-body {
  border-radius: 5px;
  border-bottom: 1px #1bc3d5;
  color: rgb(161, 179, 179) !important;
  font-family: 'Anek Kannada', sans-serif;
}

.card:hover {
  box-shadow: 0 5px 5px 5px #1bc3d5;
  transform: translateY(-10px);
  cursor: pointer;
}

.card-title {
  color: rgb(0, 195, 255) !important;
}

.cards {
  margin: 0 auto 10rem;
}

.card-img-top {
  height: 175px;
}
.div-btn-info {
  display: flex;
  justify-content: space-between;
}


.section-contact {
  display: flex;
  justify-content: space-around;
  margin: 15rem 0 0;
  padding: 10rem 5rem;
  background: rgb(3, 9, 14);
  background: linear-gradient(0deg, rgba(3, 9, 14, 1) 11%, rgba(31, 64, 75, 1) 32%, rgba(50, 100, 115, 1) 55%, rgba(8, 126, 164, 1) 75%, rgba(93, 213, 241, 0.42620798319327735) 100%);
  height: 900px;
}

.section-contact .div-img-correo {
  display: flex;
}

.section-contact .div-img-correo .img-correo {
  width: 470px;
  height: 380px;
}

.section-contact .div-form {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 450px;
}

.section-contact .div-form h3 {
  font-family: 'Verdana', sans-serif;
  color: white;
  font-size: 45px;
  margin-bottom: 30px;
}